<html>
<h1>Welcome to Tic Tac Toe</h1>
<h2>Please select player 1(X) and player 2(O)</h2>
	<form action='/select_players' method='post'>
	<table>
		<tr>
			<td>
				<select name='player1'>
				    <option value='Human'>Human</option>
				    <option value='Easy'>Easy</option>
				    <option value='Medium'>Medium</option>
				    <option value='Impossible!'>Impossible!</option>
				</select>
		    </td>

		    <td>
			    <select name='player2'>
				    <option value='Human'>Human</option>
				    <option value='Easy'>Easy</option>
				    <option value='Medium'>Medium</option>
				    <option value='Impossible!'>Impossible!</option>
				    <input type="submit" value="Submit">
				</select>
		    </td>
		</tr>
	</table>
		
	</form>

</html>